<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>

    <h2>Arbitro</h2>
    <button onclick="location.href='{% url 'arbitro' %}'">Ir a Vocalías</button>

    <h2>Equipos</h2>
    <button onclick="location.href='{% url 'equipos' %}'">Ir a Equipos</button>

    <h2>Jugadores</h2>
    <button onclick="location.href='{% url 'jugadores' %}'">Ir a Jugadores</button>

    <h2>Partidos</h2>
    <button onclick="location.href='{% url 'partido' %}'">Ir a Partidos</button>

    <h2>Presidentes</h2>
    <button onclick="location.href='{% url 'presidente' %}'">Ir a Presidentes</button>
    
    <h2>Vocalías</h2>
    <button onclick="location.href='{% url 'vocalias' %}'">Ir a Vocalías</button>
    
</body>
</html>
